In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('Quizzes Data - Sheet3.csv')
df.head()

               Before Unnamed: 1               After Unnamed: 3
0             Feeling    Percent             Feeling    Percent
1               Bored         11               Bored         12
2           Not Great          5           Not Great          6
3                  OK         40                  OK         14
4  Kind of Interested         25  Kind of Interested         30